<a href="https://colab.research.google.com/github/shreya-gs/python-assignments/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# arthmetic operators

p = 10 + 5
q = 10 - 5
r = 10 / 5
s = 10 * 5
t = 10 % 4
u = 10 // 4
v = 10 ** 2

print(p,q,r,s,t,u,v)

15 5 2.0 50 2 2 100

In [18]:
# Relational Operators

a = 36
b = 22

p = a > b
q = a < b
r = a == b
s = a <= b
t = a >= b
u = a != b

print(p,q,r,s,t,u)

True False False False True True

In [27]:
# Logical Operators

p = 23 and 45
q = False and 0
r = "False" and ""
s = 23 or 45
t = "" or 0.0
u = True or "True"

print(p,q,r,s,t,u)

45 False  23 0.0 True

In [26]:
# Bitwise operator

p = 9 & 15
q = 9 | 15
r = ~9
s = 9 ^ 15
t = 9 << 1
u = 9 >> 2

print(p,q,r,s,t,u)

9 15 -10 6 18 2

In [57]:
# Assignment Operator

a = 10
a+=10
a-=10
a*=10
a/=5
a//=3
a%=4
a**=10

b = 9
b&=15
b|=9
b^=2
b<<=3
b>>=2

print(a,b)

22

In [30]:
# Special operator

a = 2
b = 3
p = a is not b
q = a is b
b = 2
r = a is b
c = [2,3,4,5]
s = 2 in c
d = "python"
t = "w" not in d

print(p,q,r,s,t)

True False True True True